@{
    ViewData["Title"] = "Registration";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
<br />
FName : <input type="text" name="Fname" />
LName : <input type="text" name="Lname" />
Email : <input type="text" name="Email" />
Contact : <input type="text" name="contact" />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
</div>  